@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Tira o relogio do input time e centraliza os numeros */
@layer utilities {
  input[type='time'] {
    text-align: center;
  }
  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
    background: none;
    -webkit-appearance: none;
    margin: 0;
  }

  .text-shadow {
    text-shadow: 1px 1px 2px black;
  }

  .bg-image {
    background-image: url('https://conteudo.imguol.com.br/c/noticias/e6/2022/09/13/nebulosa-orion-james-webb-1663083176089_v2_900x506.png');
  }
  .text-gradient {
    background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }

  .card {
    transform-style: preserve-3d;

    transform: perspective(1000px) rotateY(var(--rotate-y, 0))
      translateY(var(--translate-y, 0));
  }

  .card:hover {
    --translate-y: -2px;
  }

  .card.flip {
    --rotate-y: 180deg;
  }

  .card .front {
    /* inset: 6px; */
  }
  .card .back {
    /* inset: 6px; */
  }

  .card .front,
  .card .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card .back {
    transform: rotateY(180deg);
  }
}
